body {
    background-color: #B3F9FF;



    background-attachment: fixed;
    background-repeat: no-repeat;


}

body {
    text
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: x-large;
}
